.header {
  font-size: 14px;
  letter-spacing: 2.8px;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  margin-left: -8px;
  gap: 8px;
}

.tabs {
  .tabBtnWrapper {
    display: flex;
    gap: 28px;
    margin-bottom: 24px;
    .minerBg {
      -webkit-mask-box-image-source: url(../../../assets/imgs/miner.png);
    }
    .planetBg {
      -webkit-mask-box-image-source: url(../../../assets/imgs/planet.png);
    }
    .asteriodBg {
      -webkit-mask-box-image-source: url(../../../assets/imgs/asteroid.png);
    }
    .img {
      -webkit-mask-box-image-slice: initial;
      -webkit-mask-box-image-width: initial;
      -webkit-mask-box-image-outset: initial;
      -webkit-mask-box-image-repeat: initial;
      width: 32px;
      height: 32px;
      background-color: white;
    }
    .active {
      border-radius: 8px;
      border: 1px solid gray;
      .img {
        background-color: #38d9a9;
      }
    }

    .tabBtn {
      width: 70px;
      height: 68px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 12px;
    }
  }

  :global {
    .ant-tabs-content {
      width: 750px !important;
      height: 700px !important;
      overflow: scroll;
    }
    .ant-tabs-nav {
      display: none;
    }
  }
}

.commonTable {
  .addWrapper {
    display: flex;
    align-items: center;
    color: #00f0ff;
    .addImg {
      width: 12px;
      height: 12px;
      margin-right: 4px;
    }
  }
  .exhausted {
    color: red;
  }
}

.minerModal {
  :global {
    .ant-modal-close {
      color: white;
      background-color: #4d4e62;
      border-radius: 50%;
      width: 24px;
      height: 24px;
    }
    .ant-modal-title {
      display: flex;
      justify-content: center;
      margin-top: 8px;
    }
  }
}

.form {
  .formSubTitle {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }
  .btn {
    background-color: #e1e2ef;
    color: black;
    font-weight: bold;
    width: 90px;
    border-radius: 8px;
  }
  .btnWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
  }
}
